<component name="libraryTable">
  <library name="spring-core-5.2.0.RELEASE">
    <CLASSES>
      <root url="jar://C:/spring-core-5.2.0.RELEASE.jar!/" />
      <root url="jar://C:/spring-jcl-5.2.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/src" />
    </SOURCES>
  </library>
</component>